html {
    min-height: 100%;
    position: relative;
}

body {
   margin-top: 1rem;
   margin-bottom: 2rem;
   background-color: #DBDBDB;
   text-align: center;
   font-family: Roboto, "Arial Black", sans-serif;
}

h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h2{
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

p {
    margin: 0.125rem;
}

select {
    font-family: Roboto, Arial;
    font-size: 2rem;
    color: #00008b;
    background-color: #F5F5F5;
    border: hidden;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("dropdown-icon.png");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 100% 50%;
    padding-right: 3%;
    padding-left: 5px;
}

.active {
    color: #00008b;
}

.inactive {
    color: red;
}

.buttons {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

button {
    color: #000000;
    background-color: #B3B3B3;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 0.75rem 1rem;
}

button:hover {
    background-color: #FFE88B;
    transition: 0.2s;
}

button:active {
    background-color:#FF811A;
}

#placeholder h1 {
    display: inline-block;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.leading {
    background-color: #6BC1FF5C;
    padding: 0rem 0.2rem 0rem 0.2rem;
    border-radius: 15%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#quarter-table {
    font-size: 1.3rem;
}

#quarter-table th,
#quarter-table tr:last-child {
    background-color: #b1c6f8;
}

.box-area {
    padding-top: 0.5rem;
}

.box-area > h2 {
    text-align: left;
    padding-left: 15%;
}

.box-table {
    width: 80%;
    height: 60%;
    border-collapse: collapse;
}

.box-table td:first-child {
    text-align: left;
    padding-left: 0.5rem;
}

.box-table th:nth-child(n+2),
.box-table td:nth-child(n+2) {
    text-align: right;
}

.box-table > thead,
.box-table > tbody > tr:nth-child(even) {
    background-color: #CECECE;
}

.box-table > tbody > tr:hover {
    background-color: #F3F3AF;
}

.on-court {
    font-weight: bold;
}

#record-table {
    border-collapse: collapse;
}

#record-table td {
    background-color: #CECECE;
    padding: 0.3rem;
}

td, th {
    text-align: center;
    padding:0.2rem;
}

footer {
    color: #B2BD8C;
    font-size: 0.8rem;
    padding-top: 1.25rem;
}

a {color: #979B89}

#overlay {
    position: fixed;
    width: 90%;
    height: 68%;
    top: 3%;
    left: 5%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

#overlay-message,
#overlay > h5 {
    color: white;
    margin-top: 8%;
}

.directional {
    display: none;
}

@media all and (max-width:1200px) {
    .directional {
        display: inline-block;
        margin-left: 3rem;
        margin-right: 3rem;
        font-size: 2.3rem;
        border-radius: 30%;
        padding-top: 0;
        padding-bottom: 0.3rem;
    }

    .box-table {
        width: 90%;
        height: auto;
    }

    .box-table > tbody > tr > td {
        white-space: pre;
    }

    .box-area > h2 {
        text-align: center;
        padding-left: 0%;
    }
}

@media all and (max-width:800px) {
    html, body {
        overflow: visible;
    }

    .box-table {
        height:auto;
        width: 100%;
        font-size: 1.2rem;
        overflow-x: scroll;
        overflow-y: visible;
        display: block;
    }
}

@media all and (max-width:500px) {
    select {
        font-size: 1.6rem;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        background-image: none;
    }
    .directional {
        padding-bottom: 0.45rem;
        border-radius: 30%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.2rem;
    }

    .box-table {
        font-size: 0.9rem;
        max-width: 98%;
    }
}

@media all and (max-width:368px)
and (orientation:portrait) {
    select { font-size: 1.35rem; }
    .directional { margin: auto; }
}

.message {
    margin-bottom: 0.5rem;
    animation-name: blink;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(1, 0, 0.2, 1);
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
}

@keyframes blink {
    from {color: red;}
    to {color: transparent;}
}

.tooltippable span {
    visibility: hidden;
    color: #F7FFCF;
    background-color: black;
    width: 190px;
    padding: 2px 5px;
    border-radius: 5px;
    position: fixed;
    top: 30%;
    right: 11%;
    z-index: 1;
    opacity: 0;
    transition: opacity 500ms;
}

.tooltippable:hover span {
    visibility: visible;
    opacity: 1;
}